CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
doxy.config
gmon.out

/build
/build-wasm
.DS_Store
/example*/libsf.wasm
/example*/libsf.js
